/* Orbital Menu Animations */
@keyframes appear {
    0% {
        top: 0;
        transform-origin: 25px 0;
        /* Centered on 50px item */
        opacity: 0;
    }

    100% {
        top: -8rem;
        transform-origin: 25px 8rem;
        opacity: 1;
    }
}

@keyframes menu-rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes scaling {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}